[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/alexandersoen/nvim.git
[submodule "config/tmux"]
	path = config/tmux
	url = git@github.com:alexandersoen/tmux.git
[submodule "config/--force"]
	path = config/--force
	url = git@github.com:alexandersoen/scripts.git
[submodule "config/scripts"]
	path = config/scripts
	url = git@github.com:alexandersoen/scripts.git
